// Functions

@function capitalize($string) {
  @if type-of($string) != "string" {
    @return $string;
  }
  $first-letter: str-slice($string, 1, 1);
  $rest: str-slice($string, 2);
  @return to-upper-case($first-letter) + $rest;
}

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Colors
$brandingColors: (
  "theme-one": #680000,
  "theme-two": #130671,
  "theme-three": rgb(67, 59, 59),
  "theme-four": #7b5b09,
  "theme-five": #00050e,
  "theme-six": #395d41,
  "theme-seven": #eff2f6,
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Spacings
$brandingSpacings: (
  "temp-1": 4px,
  "temp-2": 8px,
  "temp-3": 12px,
  "temp-4": 16px,
  "temp-5": 20px,
  "temp-6": 24px,
  "temp-7": 28px,
  "temp-8": 32px,
  "temp-9": 36px,
  "temp-10": 40px,
  "temp-11": 44px,
  "temp-12": 48px,
  "temp-13": 52px,
  "temp-14": 56px,
  "temp-15": 60px,
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Border Radius
$brandingBorderRads: (
  "sm": 4px,
  "md": 8px,
  "lg": 12px,
  "xl": 16px,
  "2xl": 20px,
  "3xl": 24px,
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Types
$brandingFontTypes: (
  "regular": "Signika Negative",
  "title": "Signika Negative",
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Font Sizes
$brandingFontSizes: (
  "small-xs": 12px,
  "small-sm": 12px,
  "small-md": 14px,
  "small-lg": 14px,
  "regular-xs": 16px,
  "regular-sm": 16px,
  "regular-md": 18px,
  "regular-lg": 18px,
  "large-xs": 30px,
  "large-sm": 30px,
  "large-md": 32px,
  "large-lg": 32px,
);

$brandingFontCategories: (
  "small": "small",
  "regular": "regular",
  "large": "large",
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Headings
$brandingFontHeadingWeight: bold;
$brandingHeadingFontSizes: (
  "h1-xs": 38px,
  "h1-sm": 38px,
  "h1-md": 48px,
  "h1-lg": 48px,
  "h2-xs": 38px,
  "h2-sm": 38px,
  "h2-md": 40px,
  "h2-lg": 40px,
  "h3-xs": 30px,
  "h3-sm": 30px,
  "h3-md": 32px,
  "h3-lg": 34px,
  "h4-xs": 22px,
  "h4-sm": 22px,
  "h4-md": 24px,
  "h4-lg": 24px,
  "h5-xs": 18px,
  "h5-sm": 18px,
  "h5-md": 20px,
  "h5-lg": 20px,
  "h6-xs": 16px,
  "h6-sm": 16px,
  "h6-md": 18px,
  "h6-lg": 18px,
);

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Device Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 1500px;

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------

// Heights
$headerHeight: 100px;

// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
// ----------------------------------------------
